@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom imports */
@import '../../vendor/livewire/flux/dist/flux.css';

/* Optional: theme variables */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}
@theme dark {
    --color-accent: var(--color-neutral-200);
    --color-accent-content: var(--color-neutral-200);
    --color-accent-foreground: var(--color-black);
}
