@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your custom imports */
@import '../../vendor/livewire/flux/dist/flux.css';
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Optional: theme variables */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}
@theme dark {
    --color-accent: var(--color-neutral-200);
    --color-accent-content: var(--color-neutral-200);
    --color-accent-foreground: var(--color-black);
}
